.body-color{
    background-color: #F8F8F8;
}
header-fix{
    position: fixed;
    z-index: 100;
       
}
.first-section{
    margin-top: 50px;
}
.container{
    width: 1920px;
    margin: 0 auto;
    display: flex;
    width: 100%;
    /* border-radius: 229px;
    background-color: #FFFFFF; */
     
}
.web{
    font-size: 32px;
    color: #3D37F1;
    margin-left: 132px;
    margin-top: 37px;
    margin-bottom: 300px;
}
.span_title{
    color: #4B647E;   

}
.nav{display: flex;
    justify-content: space-evenly;

}
.nav{
    display: flex;
    justify-self: space-evenly;
}
.nav-li{
    font-size: 22px;
    color: #3D37F1;
    margin: 50px;
 }
.nav:nth-child(1){
    margin-left:725px;
}
.left-title{
    font-size: 78px;
    margin-left: 121px;
    margin-top: 10px;   
    
}
.left-block-p{
    margin-left: 121px;
    margin-top: 42px;
}
.wave-block{
    width: 260px;
    height: 76px;
    background-color: #3D37F1;
    border-radius: 40px;
    margin-top: 85px;
    margin-left: 121px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.chaild-left-p{
    font-size: 23px;
    color: #FFFFFF;
}
.image-baner{
    width: 800px;
    margin-left: 300px;
}
.secend-section-p:nth-child(1) {
    margin-top: 300px;
    margin-left: 650px;
    font-size: 18px;

}
.secend-section-p:nth-child(2){
    margin-left: 600px;
    font-size: 18px;
    

}
.secend-section-p:nth-child(3){
    margin-left: 900px;
    font-size: 18px;
}
.firs-line{
    display: flex;
    justify-content: center;
    padding-top: 67px;
    padding-left: 375px;
    
}
.second-line{
    display: flex;
    justify-content: center;
    margin-top: 60px;   
    padding-top: 60px;
    padding-left: 375px;
    margin-bottom: 230px;
}
.child-box{
    width: 370px;
    height: 450px;
    background-color: #FBBA77;
    margin-left: 30px;
    display: flex;    
    align-items: center;
    flex-direction: column;
}
.child-box2{
    width: 370px;
    height: 450px;
    margin-left: 30px;
    background-color: #4386D2;
    display: flex;    
    align-items: center;
    flex-direction: column;
}



.child-box:nth-child(2){
    background-color: #41EAE3;
}
.child-box:nth-child(3){
    background-color: #69529F;
}
.child-box2:nth-child(2){
background-color: #A5A2F6;
}
.child-box2:nth-child(3){
    background-color: #FF8088;
}
.container1{
    width: 1920px;
    margin: 0 auto;
    width: 100%;

}
.child-read-more{
    width: 131px;
    height:45px ;
    background-color: #FFFFFF;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}
.comp-image{
    width: 100px;
    margin: 88px 7px ;

}
.orange-title{
    font-size: 22px;
    color: #FFFFFF;
}
.orange-p{
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 10px;

}
.child-read-more1{
    width: 131px;
    height:45px ;
    border-radius: 45px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;   

}
.with-read-more{
    color: white;
}